#grid-container {
  height: 800px;
  width: 800px;
  display: grid;
  background-color: #0086f4;
  padding: 10px;
}
#color-manager {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 5px;
  top: 5px;
  height: 300px;
  width: 150px;
  gap: 10px;
  border: 1px solid black;
}
#color-picker div {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(unnamed.jpg);
}
#value{
  height: 20px;
  margin-top: 15px;
}